:root {
  --color-primary: #c6ae94;
  --color-primary-light: #e9e1d9;
  --color-primary-dark: #947d64;
  --color-black: black;
  --color-white: white;
  --section-background-color: rgba(0,0,0, .5);
  --component-padding: .7rem 2rem;
  --title-size: 3rem; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  html ::-moz-selection {
    /* Code for Firefox */
    color: black;
    background: var(--color-primary-light); }
  html ::selection {
    color: black;
    background: var(--color-primary-light); }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh; }
  @media only screen and (max-width: 700px) {
    body {
      background-position: 70% 50%; } }

.container {
  max-width: 120rem;
  margin: 0 auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }

.header {
  background-color: var(--color-black);
  width: 100vw;
  height: 8rem; }

.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center; }

.background-cover {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--section-background-color);
  z-index: -1; }

.services {
  position: relative;
  width: 100%; }

.title {
  font-size: 4rem;
  color: var(--color-white);
  text-align: center;
  margin: 0 2rem; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem; }
  @media only screen and (max-width: 600px) {
    .navbar {
      justify-content: center;
      flex-direction: column; } }
  .navbar__brand {
    text-decoration: none;
    font-size: 3rem;
    color: var(--color-primary);
    font-family: Martel;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: .5rem; }
    .navbar__brand-subheading {
      font-size: 1.7rem; }
  .navbar__list {
    list-style: none;
    display: flex; }
  .navbar__link {
    color: var(--color-white);
    font-size: 1.8rem;
    font-family: "Montserrat";
    margin: 0 1rem;
    transition: all .5s;
    /* Fade in */ }
    .navbar__link a,
    .navbar__link a:visited {
      text-decoration: none;
      color: var(--color-white); }
    .navbar__link::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.1em;
      background-color: var(--color-primary-dark);
      opacity: 0;
      transition: opacity .5s; }
    .navbar__link:hover::after, .navbar__link:focus::after {
      opacity: 1; }
    .navbar__link:hover {
      transform: scale(1.2);
      cursor: pointer; }

.services-img {
  max-width: 80%;
  min-width: 350px;
  min-height: 500px;
  max-height: 90vh;
  position: absolute;
  right: 50%;
  transform: translateX(50%); }

.hide {
  display: none; }

.hours {
  margin: 1rem;
  border-radius: 5px; }

table {
  padding: var(--component-padding);
  padding-top: 0;
  color: var(--color-primary-light);
  font-size: 1.5rem;
  font-weight: 700;
  border-spacing: 15px; }

tr:first-child {
  margin-right: 1rem; }

.location {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 5px;
  color: var(--color-primary-light);
  text-align: center; }
  .location__text {
    padding: var(--component-padding); }
  .location__link {
    background-color: #00aff0; }

.contact {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 5px;
  color: var(--color-primary-light);
  text-align: center; }
  .contact__text {
    padding: var(--component-padding); }

.fab, .fas {
  font-size: 2rem;
  padding: 1rem;
  width: 4rem;
  height: 4rem;
  text-align: center;
  margin: .7rem 5px;
  border-radius: 50%;
  color: var(--color-white);
  text-decoration: none;
  transition: transform .3s; }

.fab:hover, fas:hover {
  transform: translateY(-5px); }

.fa-instagram {
  background-image: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d); }

.fa-naver {
  font-family: "Work Sans";
  background-image: linear-gradient(#00D337, #00C73C); }
